# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.json]
indent_size = 2
trim_trailing_whitespace = true

[*.scm]
indent_size = 2
trim_trailing_whitespace = true

[*.cl]
indent_size = 2
trim_trailing_whitespace = true

[*.ts]
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.fif]
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false

[*.asm]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false
